{% extends 'base_structure.html' %}


<!-- BODY/INTRO -->
{% block intro %}
<div id="intro">
<h1>🙊 Blurby</h1>
<h3>Blurb your secrets</h3>
    <ul class="actions">
        <!-- <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">ACTION!</a></li> -->
    </ul>
</div>
{% endblock %}

<!-- BODY/HEADER  -->
{% block header %}
<!-- <a href="#" class="logo">Data</a> -->
{% endblock %}

<!-- BODY/MAIN -->
{% block main %}
<header class="major">
</header>

    <!-- Application information -->
<form>
    <div class="fields" align="left">
        <div class="field">
        <label for="About">About Blurby</label>
        <p>Blurby is a web application that allows you to store your secrets in a temporary place safely.
        You can share your secrets via a SHA ID or with a direct URL with your friends.
        </p>
        </div>
        <div class="field">
            <label for="Version">Version</label>
            <input type="text" name="Version" id="Version" value="{{ version }}" disabled />
        </div>
        <div class="field">
            <label for="created">DB confs</label>
            <input type="text" name="db_conf" id="db_conf" value="{{ db_conf }}" disabled />
        </div>
        <div class="field">
            <label for="ttl">TTL value</label>
            <input type="text" name="ttl" id="ttl" value="{{ ttl }}" disabled />
        </div>
        <div class="field">
            <label for="created">Request headers</label>
            <textarea name="headers" id="headers" rows="24" maxlength="12800" disabled>{{ request_headers }}</textarea>
        </div>

        <div class="field">
            <label for="Git">Repository</label>
            <a href="https://github.com/joniturunen/blurby">GitHub</a>
        </div>

    </div>
</form>
{% endblock %}




<!-- BODY/FOOTER -->
{% block footer %}
<footer id="footer">
    <section>

    </section>

</footer>

{% endblock %}