{% extends 'base_structure.html' %}

<!-- HEAD/TITLE -->
{% block head %}
<title>🧪 App</title>
{% endblock %}

<!-- BODY/HEADER  -->
{% block header %}
<!-- <a href="#" class="logo">List data</a> -->
{% endblock %}

<!-- BODY/MAIN -->
{% block main %}
<header class="major">
    <!-- <span class="date">April 25, 2017</span> -->
    <h3><a href="#">Stuff page<br />
    with stuff</a></h3>
    <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
    facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
    amet nullam sed etiam veroeros.</p>
</header>
<!-- <a href="#" class="image main"><img src="static/images/pic01.jpg" alt="" /></a>
<ul class="actions special">
<li><a href="#" class="button large">Full Story</a></li>
</ul> -->
{% endblock %}


<!-- BODY/BODY -->
{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed mattis libero, et congue ex. In ac ante in sem gravida finibus. Praesent non viverra ex. Duis nec blandit ex. Nulla efficitur ullamcorper aliquam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sit amet fringilla turpis, a vulputate lectus. Nulla sed diam efficitur felis tristique ultrices.</p>
<p>Aliquam sit amet varius ex. Pellentesque dictum semper ex, a vestibulum arcu. Nunc ultricies vestibulum velit sit amet posuere. Duis sed sem eros. Mauris quis fringilla lectus. Mauris dui orci, tincidunt vel volutpat vel, placerat elementum ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus in tristique sem. Nullam maximus tincidunt accumsan. Fusce elementum malesuada justo eu tincidunt. Proin in laoreet nisi. Donec efficitur, nunc pharetra aliquam pellentesque, lacus nisi blandit risus, sit amet aliquam lectus eros at urna. Donec lacus arcu, mollis in ante nec, vehicula eleifend sem. Nullam pulvinar pellentesque molestie. Quisque tempor interdum sodales.</p>
{% endblock %}

<!-- BODY/FOOTER -->
{% block footer %}
<div id="copyright">
    <ul><li>&copy; Flask-Test App </li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
</div>
{% endblock %}