{% extends 'base_structure.html' %}


<!-- BODY/INTRO -->
{% block intro %}
<div id="intro">
<h1>🙊 Blurby</h1>
<h3>Blurb your secrets</h3>
    <ul class="actions">
        <!-- <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">ACTION!</a></li> -->
    </ul>
</div>
{% endblock %}

<!-- BODY/HEADER  -->
{% block header %}
<!-- <a href="#" class="logo">Data</a> -->
{% endblock %}

<!-- BODY/MAIN -->
{% block main %}
<header class="major">
    <!-- <span class="date">April 25, 2017</span> -->
    <form method="POST" action="/">
        <div class="fields">
            <div class="field">
                <h4>Paste your secret to the box!</h4>
                <textarea name="data" id="data" rows="12" maxlength="16384"></textarea>
                <!-- TODO: Count the typed characters and warn if the limit is reached -->
            </div>
        </div>
        <ul class="actions special">
            <li><input type="submit" value="Generate link" /></li>
        </ul>
    </form>
</header>
{% endblock %}




<!-- BODY/FOOTER -->
{% block footer %}
<footer id="footer">
    <section>

    </section>

</footer>

{% endblock %}